services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: k2p
      POSTGRES_PASSWORD: k2p
      POSTGRES_DB: k2p
    ports:
      - "5432:5432"
    volumes:
      - k2p_pg:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    command: ["start-dev"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - k2p_minio:/data

volumes:
  k2p_pg:
  k2p_minio:
